body {
    margin: 0px;
    padding: 0px;
}
.lasu {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px;
}

.main-text {
    color: white;
    font-size: 40px;
    text-align: center;
}


.tagline {
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.mother {
    min-height: 1000px;
    width: 500px;
    border:  1px solid lightgray;
    margin: 0px auto;
}

.parent-div {
    /*background-color: purple;*/
    padding: 20px 0px;
    background-image: url(./images/banner2.svg);
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    background-size: 100%;
    border: none;
    margin: 0px auto;
    position: relative;
}

/*bio details*/
.bio-container {
    height: 200px;
    width: 500px;
    /*border: 2px solid red;*/
    margin: 0px auto;
}

.course-container {
    height: 200px;
    width: 100%;
    /*border: 2px solid red;*/
    margin: 0px auto;
    /*border: 2px solid red;*/
}

.bio-container, label {
    font-weight: bold;
    font-size: 20px;
}

.bio-container, .box {
    margin: 10px 0px;
}

/**/
.line {
    border: 1px solid gray;
    width: 100%;
}

.bio-text {
    background-color: white;
    position: relative;
    top: -10px;
    left: 15px;
    width: 80px;
    /*border: 2px solid red;*/
    text-align: center;
    color: rgb(133, 125, 125);
}

.crs-text {
    background-color: white;
    position: relative;
    top: -10px;
    left: 15px;
    width: 120px;
    /*border: 2px solid red;*/
    text-align: center;
    color: rgb(133, 125, 125);
}

.crs-sub {
    color: rgb(133, 125, 125);
    padding: 0px 10px;
    position: relative;
    top: -8px;
}

/*check*/
.check {
border-right: 2px solid red;
}

/*courses*/
.courses {
    display: flex;
    width: 100%;
    
}

.divider {
    border: 1px solid lightgray;
    margin: 0px 10px;
}

.courses .crs-1 {
    width: 60%;
    margin: 0px 20px;
}

.courses .crs-2 {
    width: 20%;
    margin: 0px 20px;
}

.courses .crs-1 input {
    width: 100%;
    height: 20px;
    margin: 3px 0px;
    display: inline-block;
}

.courses .crs-2 input {
    width: 100%;
    float: right;
    height: 20px;
    margin: 3px 0px;
}

/**/
.crs-1 div span  {
    display: inline-block;
}

/*submit*/
.submit button {
 background-color: #CE00FF;
 border: none;
 outline: none;
 height: 50px;
 width: 200px;
 color: white;
 font-size: 20px;
 font-weight: bold;
 border-radius: 50px;
 margin: 0px auto;
 box-shadow: 5px 5px 5px rgb(184, 179, 179);
}

.submit {
    height: 50px;
    width: 200px;
    margin: 0px auto;
}

/**/
.box {
    margin: 10px 20px;
}

.box input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid lightgray;
}

/**/
.course-tab {
     display: flex;
     margin: 5px 20px;
     font-weight: bold;
     font-size: 20px;
}

.course-tab .tab1 {
    width: 78%;
}

.course-tab .tab2 {
    width: 20%;
}